html {
  font-size: 20px;
  font-family: "Karla", sans-serif;
}

/* ------------------ Typo -------------*/

p {
  text-align: center;
  text-transform: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

a:hover {
  color: #18BC9C;
}

h1 a {
  color: #000000;
  margin-top: 40px;
  display: inline-block;
}

h3 {
  color: #000000;
}

h2, h3, {
  text-align: center;
  text-decoration: none;
}

/* --------------- Nav Bar ---------------- */

#navbackground {
  display: flex;
  background-color: black;
  color: #000000;
  justify-content: center;
  position: fixed;
  width: 99%;
  right: 4px;
}

nav a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: .75em;
  font-weight: bold;
  text-decoration: none;
  align-self: space-around;
}


/* --------------- header-------------------*/

body {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* ------------- theme header footer ------------------- */

header {
  color: #000000;
  background-image: url("../images/bernalheightsimg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6em 0 2.5em;
  height: 600px;
  margin-bottom: 48px;
  text-align: center;
  text-decoration: none;
}

nav, footer {
  background-color: #ffffff;
}

/* ------------------ Laylow---------------*/

.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1em;
}

.content-wrapper h1 {
  font-size: 3rem;
}



/* --------++++++++-------Sections-----+++++++-------- */
#portfolio, #testimonials, #contact {
  margin-top: 40px;
}

.current {
  text-decoration: underline;
}




/*------------- About -------------- */
#biopic {
  height: 250px;
  width: 230px;
}

/* ----------------- Projects ----------------- */

.carousel {
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  transition: all .3s ease-in-out;
}

.image-wrapper img {
  align-self: center;
}

.carousel-indicators {
  text-align: center;
  padding-left: 0px;
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #888;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
  transition: all .3s ease-in-out;
}

.carousel-indicators .active {
  background-color: #2C3E50;
  border: 2px solid #2C3E50;
}


/*------------ Testimonials -------------*/

blockquote {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

blockquote:first-of-type {
  display: block;
}

/*----------- forms ----------------*/

input, textarea {
  font-size: .75rem;
  width: 75%;
  padding: 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: .9rem;
  outline: none;
}

label {
  margin-bottom: .4rem;
  display: block;
  font-size: .75rem;
  font-weight: 700;
}

textarea {
  height: 100px;
}

button {
  background-color: #18BC9C;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  font-size: .75rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .04rem;
  font-weight: 700;
}

.copyright {
  text-align: center;
}

/* footer */

footer {
  overflow: hidden;
  margin-top: 1.5rem;
  padding: 1rem 0;
}

footer .content-wrapper, .social-links {
  display: flex;
  font-size: 30px;
  padding: 15px;
  margin-bottom: 30px;
  display: inline-block;
  color: #000000;
}

/* ---------- Media Queries ---------- */

@media only screen and (max-width: 700px) {
  html {
    font-size: 18px;
  }

  .about-content {
    column-count: 1;
  }

  .nav-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    order: 3;
/*     display: flex; */
    flex-direction: column;
    width: 100%;
    display: none;
    padding-top: 1rem;
  }

  .open-menu {
    display: flex;
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  .navbar-nav a {
    display: inline-block;
    align-self: flex-start;
    margin-left: 0;
    font-size: .8rem;
    padding: .25rem 0;
  }

  .mobile-nav {
    display: inline-block;
    margin-left: auto;
}
}

/*Layout*/

/* figuring things out */

aside {
  margin-top: 100px;
  text-align: center;
}

aside img {
  margin: 32px 0;
}

aside a {
  text-transform: none;
}
